In [1]:
import pandas as pd
import numpy as np

In [5]:
interiors= pd.read_excel("data/가구, 인테리어.xlsx")
books = pd.read_excel("data/도서.xlsx")
appliances = pd.read_excel("data/디지털, 가전.xlsx")
life_health = pd.read_excel("data/생활, 건강.xlsx")
sports = pd.read_excel("data/스포츠, 레저.xlsx")
foods = pd.read_excel("data/식품.xlsx")
convenience = pd.read_excel("data/여가, 생활편의.xlsx")
clothes = pd.read_excel("data/패션의류.xlsx")
accessories = pd.read_excel("data/패션잡화.xlsx")
cosmetics = pd.read_excel("data/화장품, 미용.xlsx")
parenting = pd.read_excel("data/출산, 육아.xlsx")

In [ ]:
Interiors,Books, Appliances ,Life_health ,Sports, Foods, Convenience, Clothes, Accessories, Cosmetics, Parenting

In [10]:
weather = pd.read_csv("data/날씨데이터.csv",  encoding='cp949')

In [11]:
weather_pre = weather[['지점명','평균기온(°C)', '일시', '일강수량(mm)', '평균 상대습도(%)','일 최심신적설(cm)' ]].copy()

# 평균기온과 평균 상대습도는 앞에 데이터로 결측치를 채운다. 

weather_pre['평균기온(°C)'] =  weather_pre['평균기온(°C)'].fillna(method = 'ffill')
weather_pre['평균 상대습도(%)'] =  weather_pre['평균 상대습도(%)'].fillna(method = 'ffill')


# 강수량과 일 최심신적설은 관측되지 않은 것으로 보고 0으로 결측치로 채운다. 

weather_pre['일강수량(mm)'] =  weather_pre['일강수량(mm)'].fillna(0)
weather_pre['일 최심신적설(cm)'] =  weather_pre['일 최심신적설(cm)'].fillna(0)

# 전체 데이터를 날자별로 그룹화 하여 평균값을 구하여 (수도권)날씨를 구한다. 
Weathers = weather_pre.groupby('일시').mean().round(2).reset_index().copy()
Weathers

C:\Users\koreacamel\AppData\Local\Temp\ipykernel_4564\2976309973.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Weathers = weather_pre.groupby('일시').mean().round(2).reset_index().copy()

             일시  평균기온(°C)  일강수량(mm)  평균 상대습도(%)  일 최심신적설(cm)
0    2022-01-01     -6.00      0.00       53.28         0.00
1    2022-01-02     -2.20      0.28       63.15         0.17
2    2022-01-03     -3.33      0.00       64.70         0.00
3    2022-01-04     -2.78      0.02       53.67         0.00
4    2022-01-05     -3.97      0.00       56.52         0.00
..          ...       ...       ...         ...          ...
323  2022-11-20     11.68      0.00       69.70         0.00
324  2022-11-21     10.03      0.00       79.50         0.00
325  2022-11-22      9.02      0.10       80.67         0.00
326  2022-11-23     10.30      0.00       64.77         0.00
327  2022-11-24      7.48      0.00       74.13         0.00

[328 rows x 5 columns]

In [12]:
Weathers.to_csv("weather.csv", index=False)

In [13]:
# 결측치 제거
interiors.dropna(inplace = True)
interiors.reset_index(inplace = True)

# 방송일자와 시간을 합쳐 데이트 타임으로 저장 
interiors['방송일자시간'] = pd.to_datetime(interiors['방송일자'] + ' ' +interiors['방송시작시간'])

# 한 방송에서 여러 상품을 판매한다. 상품수로 나누어서 상품의 평균 판매량과 평균 매출액을 만든다.
interiors['상품평균판매량(개)'] =  round(interiors['판매량'] / interiors['상품수'])
interiors['상품평균가격(원)'] =  round(interiors['매출액'] /(interiors['판매량'] * interiors['상품수']))
interiors.fillna(0, inplace = True)

# 전환율 = (전환수 / 유입수) X 100%
interiors['구매전환율(%)'] =  round((interiors['판매량'] / interiors['조회수'])*100,3)


#방송정보는 따로 저장해준다. 
Interiors_inform = interiors[['방송정보URL', '방송다시보기']].reset_index().rename(columns = {'index' : 'Inte_idx'}).copy()

#컬럼 순서 병경해서 최종 df를 만든다. 
Interiors= interiors[['플랫폼', '방송명', '분류', '카테고리', '방송일자시간', '상품수', '판매량', '상품평균판매량(개)', '매출액', '상품평균가격(원)','조회수','구매전환율(%)',
                      '방송일자', '방송시작시간' ]].reset_index().rename(columns = {'index' : 'Inte_idx'}).copy()

In [14]:
Interiors.to_csv("Interiors.csv", index=False)

In [15]:
# 결측치 제거
books.dropna(inplace = True)
books.reset_index(inplace = True)

# 방송일자와 시간을 합쳐 데이트 타임으로 저장 
books['방송일자시간'] = pd.to_datetime(books['방송일자'] + ' ' +books['방송시작시간'])

# 한 방송에서 여러 상품을 판매한다. 상품수로 나누어서 상품의 평균 판매량과 평균 매출액을 만든다.
books['매출액'] = books['매출액'].astype('int')

books['상품평균판매량(개)'] =  round(books['판매량'] / books['상품수'])
books['상품평균가격(원)'] =  round(books['매출액'] /(books['판매량'] * books['상품수']))
books.fillna(0, inplace = True)


books['상품평균가격(원)']  = books['상품평균가격(원)'].astype('int')

# 전환율 = (전환수 / 유입수) X 100%
books['구매전환율(%)'] =  round((books['판매량'] / books['조회수'])*100,3)


#방송정보는 따로 저장해준다. 
books_inform = books[['방송정보URL', '방송다시보기']].reset_index().rename(columns = {'index' : 'book_idx'}).copy()

#컬럼 순서 병경해서 최종 df를 만든다. 
Books= books[['플랫폼', '방송명', '분류', '카테고리', '방송일자시간', '상품수', '판매량', '상품평균판매량(개)', '매출액', '상품평균가격(원)','조회수','구매전환율(%)',
                      '방송일자', '방송시작시간' ]].reset_index().rename(columns = {'index' : 'book_idx'}).copy()

In [16]:
Books.to_csv("Books.csv", index=False)

In [17]:
# 결측치 제거
appliances.dropna(inplace = True)
appliances.reset_index(inplace = True)

# 방송일자와 시간을 합쳐 데이트 타임으로 저장 
appliances['방송일자시간'] = pd.to_datetime(appliances['방송일자'] + ' ' +appliances['방송시작시간'])

# 한 방송에서 여러 상품을 판매한다. 상품수로 나누어서 상품의 평균 판매량과 평균 매출액을 만든다.
appliances['상품평균판매량(개)'] =  round(appliances['판매량'] / appliances['상품수'])
appliances['상품평균가격(원)'] =  round(appliances['매출액'] /(appliances['판매량'] * appliances['상품수']))
appliances.fillna(0, inplace = True)

# 전환율 = (전환수 / 유입수) X 100%
appliances['구매전환율(%)'] =  round((appliances['판매량'] / appliances['조회수'])*100,3)


#방송정보는 따로 저장해준다. 
appliances_inform = appliances[['방송정보URL', '방송다시보기']].reset_index().rename(columns = {'index' : 'Appli_idx'}).copy()

#컬럼 순서 병경해서 최종 df를 만든다. 
Appliances= appliances[['플랫폼', '방송명', '분류', '카테고리', '방송일자시간', '상품수', '판매량', '상품평균판매량(개)', '매출액', '상품평균가격(원)','조회수','구매전환율(%)',
                      '방송일자', '방송시작시간' ]].reset_index().rename(columns = {'index' : 'Appli_idx'}).copy()

In [18]:
Appliances.to_csv("Appliances.csv", index=False)

In [19]:
# 결측치 제거
life_health.dropna(inplace = True)
life_health.reset_index(inplace = True)

# 방송일자와 시간을 합쳐 데이트 타임으로 저장 
life_health['방송일자시간'] = pd.to_datetime(life_health['방송일자'] + ' ' +life_health['방송시작시간'])

# 한 방송에서 여러 상품을 판매한다. 상품수로 나누어서 상품의 평균 판매량과 평균 매출액을 만든다.
life_health['상품평균판매량(개)'] =  round(life_health['판매량'] / life_health['상품수'])
life_health['상품평균가격(원)'] =  round(life_health['매출액'] /(life_health['판매량'] * life_health['상품수']))
life_health.fillna(0, inplace = True)

# 전환율 = (전환수 / 유입수) X 100%
life_health['구매전환율(%)'] =  round((life_health['판매량'] / life_health['조회수'])*100,3)


#방송정보는 따로 저장해준다. 
life_health_inform = life_health[['방송정보URL', '방송다시보기']].reset_index().rename(columns = {'index' : 'health_idx'}).copy()

#컬럼 순서 병경해서 최종 df를 만든다. 
Life_health= life_health[['플랫폼', '방송명', '분류', '카테고리', '방송일자시간', '상품수', '판매량', '상품평균판매량(개)', '매출액', '상품평균가격(원)','조회수','구매전환율(%)',
                      '방송일자', '방송시작시간' ]].reset_index().rename(columns = {'index' : 'health_idx'}).copy()

In [20]:
Life_health.to_csv("Life_health.csv", index=False)

In [21]:
# 결측치 제거
sports.dropna(inplace = True)
sports.reset_index(inplace = True)

# 방송일자와 시간을 합쳐 데이트 타임으로 저장 
sports['방송일자시간'] = pd.to_datetime(sports['방송일자'] + ' ' +sports['방송시작시간'])

# 한 방송에서 여러 상품을 판매한다. 상품수로 나누어서 상품의 평균 판매량과 평균 매출액을 만든다.
sports['상품평균판매량(개)'] =  round(sports['판매량'] / sports['상품수'])
sports['상품평균가격(원)'] =  round(sports['매출액'] /(sports['판매량'] * sports['상품수']))
sports.fillna(0, inplace = True)

# 전환율 = (전환수 / 유입수) X 100%
sports['구매전환율(%)'] =  round((sports['판매량'] / sports['조회수'])*100,3)


#방송정보는 따로 저장해준다. 
sports_inform = sports[['방송정보URL', '방송다시보기']].reset_index().rename(columns = {'index' : 'sport_idx'}).copy()

#컬럼 순서 병경해서 최종 df를 만든다. 
Sports= sports[['플랫폼', '방송명', '분류', '카테고리', '방송일자시간', '상품수', '판매량', '상품평균판매량(개)', '매출액', '상품평균가격(원)','조회수','구매전환율(%)',
                      '방송일자', '방송시작시간' ]].reset_index().rename(columns = {'index' : 'sport_idx'}).copy()

In [22]:
Sports.to_csv("Sports.csv", index=False)

In [24]:
# 결측치 제거
foods.dropna(inplace = True)
foods.reset_index(inplace = True)

# 방송일자와 시간을 합쳐 데이트 타임으로 저장 
foods['방송일자시간'] = pd.to_datetime(foods['방송일자'] + ' ' +foods['방송시작시간'])

# 한 방송에서 여러 상품을 판매한다. 상품수로 나누어서 상품의 평균 판매량과 평균 매출액을 만든다.
foods['상품평균판매량(개)'] =  round(foods['판매량'] / foods['상품수'])
foods['상품평균가격(원)'] =  round(foods['매출액'] /(foods['판매량'] * foods['상품수']))
foods.fillna(0, inplace = True)

# 전환율 = (전환수 / 유입수) X 100%
foods['구매전환율(%)'] =  round((foods['판매량'] / foods['조회수'])*100,3)


#방송정보는 따로 저장해준다. 
foods_inform = foods[['방송정보URL', '방송다시보기']].reset_index().rename(columns = {'index' : 'food_idx'}).copy()

#컬럼 순서 병경해서 최종 df를 만든다. 
Foods= foods[['플랫폼', '방송명', '분류', '카테고리', '방송일자시간', '상품수', '판매량', '상품평균판매량(개)', '매출액', '상품평균가격(원)','조회수','구매전환율(%)',
                      '방송일자', '방송시작시간' ]].reset_index().rename(columns = {'index' : 'food_idx'}).copy()

In [25]:
Foods.to_csv("Foods.csv", index=False)

In [26]:
# 결측치 제거
convenience.dropna(inplace = True)
convenience.reset_index(inplace = True)

# 방송일자와 시간을 합쳐 데이트 타임으로 저장 
convenience['방송일자시간'] = pd.to_datetime(convenience['방송일자'] + ' ' +convenience['방송시작시간'])

# 한 방송에서 여러 상품을 판매한다. 상품수로 나누어서 상품의 평균 판매량과 평균 매출액을 만든다.
convenience['상품평균판매량(개)'] =  round(convenience['판매량'] / convenience['상품수'])
convenience['상품평균가격(원)'] =  round(convenience['매출액'] /(convenience['판매량'] * convenience['상품수']))
convenience.fillna(0, inplace = True)

# 전환율 = (전환수 / 유입수) X 100%
convenience['구매전환율(%)'] =  round((convenience['판매량'] / convenience['조회수'])*100,3)


#방송정보는 따로 저장해준다. 
Convenience_inform = convenience[['방송정보URL', '방송다시보기']].reset_index().rename(columns = {'index' : 'conveni_idx'}).copy()

#컬럼 순서 병경해서 최종 df를 만든다. 
Convenience= convenience[['플랫폼', '방송명', '분류', '카테고리', '방송일자시간', '상품수', '판매량', '상품평균판매량(개)', '매출액', '상품평균가격(원)','조회수','구매전환율(%)',
                      '방송일자', '방송시작시간' ]].reset_index().rename(columns = {'index' : 'conveni_idx'}).copy()

In [27]:
Convenience.to_csv("Convenience.csv", index=False)

In [28]:
# 결측치 제거
clothes.dropna(inplace = True)
clothes.reset_index(inplace = True)

# 방송일자와 시간을 합쳐 데이트 타임으로 저장 
clothes['방송일자시간'] = pd.to_datetime(clothes['방송일자'] + ' ' +clothes['방송시작시간'])

# 한 방송에서 여러 상품을 판매한다. 상품수로 나누어서 상품의 평균 판매량과 평균 매출액을 만든다.
clothes['상품평균판매량(개)'] =  round(clothes['판매량'] / clothes['상품수'])
clothes['상품평균가격(원)'] =  round(clothes['매출액'] /(clothes['판매량'] * clothes['상품수']))
clothes.fillna(0, inplace = True)

# 전환율 = (전환수 / 유입수) X 100%
clothes['구매전환율(%)'] =  round((clothes['판매량'] / clothes['조회수'])*100,3)


#방송정보는 따로 저장해준다. 
Clothes_inform = clothes[['방송정보URL', '방송다시보기']].reset_index().rename(columns = {'index' : 'clo_idx'}).copy()

#컬럼 순서 병경해서 최종 df를 만든다. 
Clothes= clothes[['플랫폼', '방송명', '분류', '카테고리', '방송일자시간', '상품수', '판매량', '상품평균판매량(개)', '매출액', '상품평균가격(원)','조회수','구매전환율(%)',
                      '방송일자', '방송시작시간' ]].reset_index().rename(columns = {'index' : 'clo_idx'}).copy()

In [29]:
Clothes.to_csv("Clothes.csv", index=False)

In [30]:
# 결측치 제거
accessories.dropna(inplace = True)
accessories.reset_index(inplace = True)

# 방송일자와 시간을 합쳐 데이트 타임으로 저장 
accessories['방송일자시간'] = pd.to_datetime(accessories['방송일자'] + ' ' +accessories['방송시작시간'])

# 한 방송에서 여러 상품을 판매한다. 상품수로 나누어서 상품의 평균 판매량과 평균 매출액을 만든다.
accessories['상품평균판매량(개)'] =  round(accessories['판매량'] / accessories['상품수'])
accessories['상품평균가격(원)'] =  round(accessories['매출액'] /(accessories['판매량'] * accessories['상품수']))
accessories.fillna(0, inplace = True)

# 전환율 = (전환수 / 유입수) X 100%
accessories['구매전환율(%)'] =  round((accessories['판매량'] / accessories['조회수'])*100,3)


#방송정보는 따로 저장해준다. 
Accessories_inform = accessories[['방송정보URL', '방송다시보기']].reset_index().rename(columns = {'index' : 'acc_idx'}).copy()

#컬럼 순서 병경해서 최종 df를 만든다. 
Accessories= accessories[['플랫폼', '방송명', '분류', '카테고리', '방송일자시간', '상품수', '판매량', '상품평균판매량(개)', '매출액', '상품평균가격(원)','조회수','구매전환율(%)',
                      '방송일자', '방송시작시간' ]].reset_index().rename(columns = {'index' : 'acc_idx'}).copy()

In [31]:
Accessories.to_csv("Accessories.csv", index=False)

In [32]:
# 결측치 제거
cosmetics.dropna(inplace = True)
cosmetics.reset_index(inplace = True)

# 방송일자와 시간을 합쳐 데이트 타임으로 저장 
cosmetics['방송일자시간'] = pd.to_datetime(cosmetics['방송일자'] + ' ' +cosmetics['방송시작시간'])

# 한 방송에서 여러 상품을 판매한다. 상품수로 나누어서 상품의 평균 판매량과 평균 매출액을 만든다.
cosmetics['상품평균판매량(개)'] =  round(cosmetics['판매량'] / cosmetics['상품수'])
cosmetics['상품평균가격(원)'] =  round(cosmetics['매출액'] /(cosmetics['판매량'] * cosmetics['상품수']))
cosmetics.fillna(0, inplace = True)

# 전환율 = (전환수 / 유입수) X 100%
cosmetics['구매전환율(%)'] =  round((cosmetics['판매량'] / cosmetics['조회수'])*100,3)


#방송정보는 따로 저장해준다. 
Cosmetics_inform = cosmetics[['방송정보URL', '방송다시보기']].reset_index().rename(columns = {'index' : 'cos_idx'}).copy()

#컬럼 순서 병경해서 최종 df를 만든다. 
Cosmetics= cosmetics[['플랫폼', '방송명', '분류', '카테고리', '방송일자시간', '상품수', '판매량', '상품평균판매량(개)', '매출액', '상품평균가격(원)','조회수','구매전환율(%)',
                      '방송일자', '방송시작시간' ]].reset_index().rename(columns = {'index' : 'cos_idx'}).copy()

In [33]:
Cosmetics.to_csv("Cosmetics.csv", index=False)

In [34]:
# 결측치 제거
parenting.dropna(inplace = True)
parenting.reset_index(inplace = True)

# 방송일자와 시간을 합쳐 데이트 타임으로 저장 
parenting['방송일자시간'] = pd.to_datetime(parenting['방송일자'] + ' ' +parenting['방송시작시간'])

# 한 방송에서 여러 상품을 판매한다. 상품수로 나누어서 상품의 평균 판매량과 평균 매출액을 만든다.
parenting['상품평균판매량(개)'] =  round(parenting['판매량'] / parenting['상품수'])
parenting['상품평균가격(원)'] =  round(parenting['매출액'] /(parenting['판매량'] * parenting['상품수']))
parenting.fillna(0, inplace = True)

# 전환율 = (전환수 / 유입수) X 100%
parenting['구매전환율(%)'] =  round((parenting['판매량'] / parenting['조회수'])*100,3)


#방송정보는 따로 저장해준다. 
parenting_inform = parenting[['방송정보URL', '방송다시보기']].reset_index().rename(columns = {'index' : 'cos_idx'}).copy()

#컬럼 순서 병경해서 최종 df를 만든다. 
Parenting= parenting[['플랫폼', '방송명', '분류', '카테고리', '방송일자시간', '상품수', '판매량', '상품평균판매량(개)', '매출액', '상품평균가격(원)','조회수','구매전환율(%)',
                      '방송일자', '방송시작시간' ]].reset_index().rename(columns = {'index' : 'cos_idx'}).copy()

In [36]:
Parenting.to_csv("Parenting.csv", index=False)

# 데이터분석

In [60]:
articles = pd.read_csv("data/article_2000.csv")
articles.head()

,Title,press,Datetime,Article,Link
0,[새해 업종별 3대 키워드]①소비자 '변심'에 '변신'하는 유통家,뉴스1,2021-01-01,"온·오프라인 통합에 긱 이코노미 성장까지…""변화의 연속""편의점만 가면 뭐든지 'OK...",https://n.news.naver.com/mnews/article/421/000...
1,[2021 컨슈머]① “10분에 1억 매출”... 비대면 소비 이끄는 ‘라이브 커머스’,조선비즈언론사 선정,2021-01-02,"대신 입어주고, 바로 답해주고… ‘쌍방향 쇼핑’으로 주목 네이버 이어 쿠팡·배민도 ...",https://n.news.naver.com/mnews/article/366/000...
2,네이버가 쏘아 올린 라방 전성시대...쿠팡·11번가도 참전,서울경제언론사 선정,2021-01-02,[서울경제] 신종 코로나바이러스 감염증(코로나19)으로 비대면 소비문화가 확산하면서...,https://n.news.naver.com/mnews/article/011/000...
3,[새해 업종별 3대 키워드]③패션·뷰티업계 '온택트·온미맨드·지속가능',뉴스1,2021-01-03,"코로나 쇼크에 '천지개벽'…""소통 강화하고 개성 따라잡기""롯데 온택트 패션위크.© ...",https://n.news.naver.com/mnews/article/421/000...
4,"현대백화점, '레고 신상품' 라방으로 만나보세요",전자신문,2021-01-03,3일 오전 경기도 부천시 현대백화점 중동점 유플렉스 지하 1층 레고 공식 매장에서 ...,https://n.news.naver.com/mnews/article/030/000...

In [54]:
articles.Datetime = pd.to_datetime(articles.Datetime)

In [63]:
articles_tmp = articles.copy()

In [68]:
articles_tmp.Datetime = pd.to_datetime(articles_tmp.Datetime)
articles_tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1892 entries, 0 to 1891
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     1892 non-null   object
 1   press     1892 non-null   object
 2   Datetime  1892 non-null   datetime64[ns]
 3   Article   1892 non-null   object
 4   Link      1892 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 74.0+ KB

In [73]:
articles_tmp['year'] = articles_tmp['Datetime'].dt.year
articles_tmp['month'] = articles_tmp['Datetime'].dt.month

In [74]:
articles_tmp

,Title,press,Datetime,Article,Link,year,month
0,[새해 업종별 3대 키워드]①소비자 '변심'에 '변신'하는 유통家,뉴스1,2021-01-01,"온·오프라인 통합에 긱 이코노미 성장까지…""변화의 연속""편의점만 가면 뭐든지 'OK...",https://n.news.naver.com/mnews/article/421/000...,2021,1
1,[2021 컨슈머]① “10분에 1억 매출”... 비대면 소비 이끄는 ‘라이브 커머스’,조선비즈언론사 선정,2021-01-02,"대신 입어주고, 바로 답해주고… ‘쌍방향 쇼핑’으로 주목 네이버 이어 쿠팡·배민도 ...",https://n.news.naver.com/mnews/article/366/000...,2021,1
2,네이버가 쏘아 올린 라방 전성시대...쿠팡·11번가도 참전,서울경제언론사 선정,2021-01-02,[서울경제] 신종 코로나바이러스 감염증(코로나19)으로 비대면 소비문화가 확산하면서...,https://n.news.naver.com/mnews/article/011/000...,2021,1
3,[새해 업종별 3대 키워드]③패션·뷰티업계 '온택트·온미맨드·지속가능',뉴스1,2021-01-03,"코로나 쇼크에 '천지개벽'…""소통 강화하고 개성 따라잡기""롯데 온택트 패션위크.© ...",https://n.news.naver.com/mnews/article/421/000...,2021,1
4,"현대백화점, '레고 신상품' 라방으로 만나보세요",전자신문,2021-01-03,3일 오전 경기도 부천시 현대백화점 중동점 유플렉스 지하 1층 레고 공식 매장에서 ...,https://n.news.naver.com/mnews/article/030/000...,2021,1
...,...,...,...,...,...,...,...
1887,[트렌D] 백화점만?...D2C 온라인몰도 ‘오픈런’ 부른다,디지털데일리언론사 선정,2022-12-03,국내외 커머스 분야에선 새로운 흐름에 맞춰 변화가 지속되고 있습니다. 그만큼 흥미로...,https://n.news.naver.com/mnews/article/138/000...,2022,12
1888,'라방'으로 감귤 판매 도전한 제주 중학생들,YTN,2022-12-03,[앵커]포털 사이트나 전문 플랫폼에서 실시간 방송과 채팅을 통해 상품을 판매하는 것...,https://n.news.naver.com/mnews/article/052/000...,2022,12
1889,"[ESG리포트] 카페24, 플랫폼 이용료 무료·사장님 금융지원으로 협력업체와 상생",조선비즈,2022-12-07,클릭 몇 번이면 누구나 무료로 온라인 쇼핑몰 구축할 수 있어“아이디어 있으면 창업 ...,https://n.news.naver.com/mnews/article/366/000...,2022,12
1890,"[뷰티뉴스] 지루한 라방 저리 비켜…러쉬, 30분짜리 ‘숏핑 라이브’ 오픈",앳스타일,2022-12-07,[앳스타일 황연도 기자] 러쉬코리아가 다가오는 연말을 맞이해 자체 라이브 방송 ‘숏...,https://n.news.naver.com/mnews/article/415/000...,2022,12
1891,"“연말선물로 명품 한 번?”…트렌비, 라방에서 최대 10% 할인",디지털데일리,2022-12-07,[디지털데일리 이안나 기자] 명품 플랫폼 트렌비가 7일 오후 8시 ‘연말 선물’...,https://n.news.naver.com/mnews/article/138/000...,2022,12

In [76]:
articles_tmp.groupby(['year', 'month'])

year  month
2021  1        123
      2         64
      3        119
      4        126
      5        191
      6        107
      7        102
      8         80
      9         48
      10        86
      11        95
      12        60
2022  1         70
      2         50
      3         73
      4         77
      5         52
      6         50
      7         70
      8         42
      9         78
      10        49
      11        68
      12        12
dtype: int64

In [38]:
articles.groupby('Datetime').size()

Datetime
2021-01-01    1
2021-01-02    2
2021-01-03    6
2021-01-04    1
2021-01-06    6
             ..
2022-11-30    2
2022-12-01    6
2022-12-02    1
2022-12-03    2
2022-12-07    3
Length: 517, dtype: int64

In [77]:
Sports_tmp = Sports.copy()
Sports_tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5612 entries, 0 to 5611
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sport_idx   5612 non-null   int64
 1   플랫폼         5612 non-null   object
 2   방송명         5612 non-null   object
 3   분류          5612 non-null   object
 4   카테고리        5612 non-null   object
 5   방송일자시간      5612 non-null   datetime64[ns]
 6   상품수         5612 non-null   int64
 7   판매량         5612 non-null   float64
 8   상품평균판매량(개)  5612 non-null   float64
 9   매출액         5612 non-null   float64
 10  상품평균가격(원)   5612 non-null   float64
 11  조회수         5612 non-null   float64
 12  구매전환율(%)    5612 non-null   float64
 13  방송일자        5612 non-null   object
 14  방송시작시간      5612 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(2), object(6)
memory usage: 657.8+ KB

In [79]:
Sports_tmp['year'] = Sports_tmp['방송일자시간'].dt.year
Sports_tmp['month'] = Sports_tmp['방송일자시간'].dt.month

In [85]:
# 매출액이 증가 하는 것을 볼 수 있다. 
Sports_tmp.groupby(['year', 'month'])['매출액'].sum().astype(int)

year  month
2022  1         560396580
      2         572366420
      3         703058550
      4        1033377991
      5        1883253525
      6        1513833392
      7        1572025360
      8         899432862
      9        1186013557
      10       1033474886
      11        751212574
Name: 매출액, dtype: int32

In [86]:
Sports_tmp.groupby(['year', 'month'])['판매량'].sum().astype(int)

year  month
2022  1         3969
      2         8462
      3        13309
      4        16051
      5        34619
      6        56352
      7        31341
      8        20354
      9        18987
      10       16794
      11       10825
Name: 판매량, dtype: int32

In [103]:
Interiors.drop(Interiors.iloc[[0],[0]])

   Inte_idx
0         0

In [ ]:
df_list = [Interiors,Books, Appliances ,Life_health ,Sports, Foods, Convenience, Clothes, Accessories, Cosmetics, Parenting]

for df in df_list:
    df.drop(columns=)